/***************************  Intro **********************/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url("/intro-bg.jpg") no-repeat center;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: 400;
}

/*************************** Container ********************/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*************************** .\ Container ********************/

.testimonals {
    background-color: #53354a;
    overflow: hidden;
}

.testimonals--white {
    background-color: white;
}

.testimonials__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.testimonials__photo {
    width: 50%;
    height: 300px;
    position: relative;
}

.testimonials__img {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.testimonials__img--left {
    left: 0;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    padding-right: 80px;
    color: #fff;
}

.testimonials__content--black {
    color: #000000
}

.testimonials__text {
    margin-bottom: 25px;
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
}

.testimonials__author {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
