@model IEnumerable<LeagueIndexViewModel>
@{
    ViewData["Title"] = "Leagues";
}

<table class="table" style="text-align: center">
    <tr>
        <th>LeagueName</th>
        <th>Country</th>
        <th>Emblem</th>
    </tr>
    @foreach (var league in Model)
    {
        <tr>
            <td><a asp-controller="Team" asp-action="Index" asp-route-leagueId="@league.Id">@league.Name</a></td>
            <td>@league.Country</td>
            <td><img src = @league.EmblemUrl width="150" height="60"/></td>
        </tr>
    }
</table>
